*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// variables 
$primary-color: #f2f2f2;
$background-color: #ccc;
$text-color: #f53a3a;

// map-arrey 
$font-size:(
    "desktop": 60px,
    "mobile": 12px,
    "tabtel": 18px
);
